# Python
__pycache__/
*.py[cod]
*.so

# Environments
.venv/
env/
venv/
*.env

# MLflow
mlruns/
*.mlmodel

# Models
models/
*.pkl
*.joblib
*.h5

# DVC
!.dvc/         # allow .dvc folder to be tracked
*.dvc          # still ignore .dvc pointer files (data files)
.dvcignore     # okay to ignore this

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db
